<header class="header">
    <div class="header-left">
        <button type="button" class="menu-toggle" id="menuToggle" aria-label="Menyu"><span></span></button>
        <div>
            <h1 id="pageTitle">Dashboard</h1>
            <p id="pageSubtitle">Əsas göstəricilər</p>
        </div>
    </div>

    <div class="header-right">
        <a id="newInvoiceLink" class="primary-btn link-btn" asp-controller="Invoice" asp-action="Create">+ Yeni qaimə</a>
    </div>
</header>
